<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>파일 업로드</title>
  <link href='https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css' rel='stylesheet' type='text/css'>
  <script src='https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js'></script>
  <script src='/src/components/file-upld/FileUpld.js'></script>
</head>
<body>
  <file-upld></file-upld>
</body>
</html>